<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input (keyup)="searchHospitals( input.value )" type="text" class="form-control" placeholder="Search Hospital...">

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando...</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="text-right">
            <button (click)="createHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
              <i class="fa fa-plus"></i>
              Create Hospital
            </button>
          </div>

          <h3 class="card-title">Registered Hospitals ( <small>{{totalHospitals}}</small> )</h3>

          <table class="table table-hover">
            <thead>
              <th>Image</th>
              <th>Hospital</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <td class="w70">
                  <img (click)="updateImage( hospital )" [src]="hospital.img | image:'hospital'" alt="" class="img-50 pointer">
                </td>
                <td>
                  <input [(ngModel)]="hospital.nombre" type="text" class="form-control" name="nombre" placeholder="Hospital name">
                </td>
                <td>
                  <button (click)="saveHospital( hospital )" type="button" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                  </button>
                  <button (click)="deleteHospital( hospital )" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
  
          </table>
          <button (click)="changeFrom(-5)" type="button" class="btn btn-secondary">
              Previous
          </button>
  
          <button (click)="changeFrom(5)" type="button" class="btn btn-secondary">
              Next
          </button>
        </div>
      </div>
    </div>
</div>