<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input (keyup)="searchDoctors( input.value )" type="text" class="form-control" placeholder="Search Doctor...">

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando...</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="text-right">
            <button [routerLink]="['/doctor', 'new']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
              <i class="fa fa-plus"></i>
              Create Doctor
            </button>
          </div>

          <h3 class="card-title">Registered Doctors ( <small>{{totalDoctors}}</small> )</h3>

          <table class="table table-hover">
            <thead>
              <th>Image</th>
              <th>Doctor</th>
              <th>Hospital</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors">
                <td class="w70">
                  <img [src]="doctor.img | image:'doctor'" alt="" class="img-50 img-circle">
                </td>
                <td>
                  {{ doctor.nombre }}
                </td>
                <td>
                  {{ doctor.hospital.nombre }}
                </td>
                <td>
                  <button [routerLink]="['/doctor', doctor._id]" type="button" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="deleteDoctor( doctor )" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
  
          </table>
          <button (click)="changeFrom(-5)" type="button" class="btn btn-secondary">
              Previous
          </button>
  
          <button (click)="changeFrom(5)" type="button" class="btn btn-secondary">
              Next
          </button>
        </div>
      </div>
    </div>
</div>